.altstore-button {
  max-height: 68px;
  margin: 48px -8px 0px;
  /*padding: 24px 48px;*/
}

.googleplay-button {
  max-height: 71px;
  margin: 48px 48px 0px;
  padding: 24px 48px;
}

.googleplay-img {
  height: 100px;
  padding: 0px;
  margin: -60px;
  margin-top: -70px;
  vertical-align: middle;
}

header.masthead .bg-circle {
  z-index: 0;
  position: absolute;
  border-radius: 100%;
  background: linear-gradient(0deg,#ee0979,#00f8f8);
}

header.masthead {
  position: relative;
  overflow: hidden;
  padding-top: calc(7rem + 72px);
  padding-bottom: 7rem;
  background: linear-gradient(0deg,#ee0eaf,#f70531);
  background-repeat: no-repeat;
  background-position: 50%;
  background-attachment: scroll;
  background-size: cover;
}

.btn-primary {
  background: linear-gradient(45deg,#ff00b8,#00fff0);
  border-color: #8b8b8b;
}

